# Database Credentials
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=your_secure_password
DB_NAME=nigeria_infrastructure

# Flask Settings
SECRET_KEY=generate_a_secure_random_hex_string

# Admin Login Credentials (default password here is admin123)
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=scrypt:32768:8:1$xFrabuNUAEcTebGi$d4b76cc8d0d12c0f2bb4bf09686835b8fb9fdf4330304be98b387f5d44e719873bd7c923c7885c5c1141d2462b10c671c50ff74bb483e1b73fff6bae3624ae92
